html {
 background-color: hsl(212, 45%, 89%);   
}

.code-container {
height: 550px;
width: 375px;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
padding: 15px;
background-color: white;
border-radius: 15px;
min-height: 100px;
position:absolute;
top: 50%;
left: 50%;
margin-right: 50%;
transform: translate(-50%, -50%);
flex-direction: column;
}

.code {
    justify-content: center;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 10px solid white;
}

.text-container {
    flex: 1;
background-color: white;
padding: 10px;
}

.big-text {
    font-size: 22px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
.small-text {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    flex-wrap: wrap;
    display: inline;
}